*{
    padding: 0px;
    margin: 0px;
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: #FF3B81;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: #392c42;
    width: 100%;
    height: 125px;
}
.nav-logo-container{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
}
.logo{
    display: flex;
}
.nav-text-container{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    justify-content: right;
    align-items: center;
}
.nav-text{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
main{
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #172022;
    padding-left: 2%;
    flex-wrap: wrap;
}
.trailer-container{
    display: flex;
    width: 70%;
    height: 700px;
    background-color:#372a3f;
}
.twilight-turbo-container{
    display: flex;
    width: 30%;
    height: 300px;
}
.twilight-turbo-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* hier begint ABOUT */
.about-container{
    display: flex;
    width: 40%;
    height: 700px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
.about-title{
    display: flex;
    height: 120px;
    width: 40%;
    justify-content: left;
    align-items: center;
}
.about-text{
    display: flex;
    height: 50%;
    width: 40%;
    justify-content: left;
    align-items: center;
}
.about-text2{
    display: flex;
    height: 50%;
    width: 40%;
    justify-content: left;
    align-items: center;
}
.about-games-container{
    display: flex;
    width: 60%;
    height: 900px;
    justify-content: space-between;
    align-items: center;
}
.about-games-img{
    display: flex;
    width: 90%;
    height: 600px;
    justify-content: space-between;
    align-items: center;
}
.our-team-container{
    display: flex;
    width: 100%;
    height: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.our-team{
    display: flex;
    width: 80%;
    height: 1000px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.our-team-title{
    display: flex;
    width: 80%;
    height: 10%;
    justify-content: left;
    align-items: center;
}
.our-team-photos-container{
    display: flex;
    width: 100%;
    height: 45%;
    justify-content: space-evenly;
    align-items: center;
}
.photo-container1{
    display: flex;
    width: 25%;
    height: 80%;
    background-color: red;
    justify-content: right;
    align-items: end;
}
.developer-container{
    display: flex;
    width: 25%;
    height: 10%;
    background-color: gray;
}
.photo-container2{
    display: flex;
    width: 25%;
    height: 80%;
    background-color: red;
    justify-content: right;
    align-items: end;
}
.photo-container3{
    display: flex;
    width: 25%;
    height: 80%;
    background-color: red;
    justify-content: right;
    align-items: end;
}
.our-team-photos-container2{
    display: flex;
    width: 100%;
    height: 45%;
    justify-content: space-evenly;
    align-items: center;
}
.photo-container4{
    display: flex;
    width: 25%;
    height: 80%;
    background-color: red;
    justify-content: right;
    align-items: end;
}
.photo-container5{
    display: flex;
    width: 25%;
    height: 80%;
    background-color: red;
    justify-content: right;
    align-items: end;
}
.photo-container6{
    display: flex;
    width: 25%;
    height: 80%;
    background-color: red;
    justify-content: right;
    align-items: end;
}